/**
 * Place your custom CSS styles here.
 **/
 .btn-fixed {
     z-index: 3400!important;
     position: fixed!important;
     bottom: 15px;
     right: 15px;
 }

.modal-title {
    font-size: 1.3rem!important;
    margin-bottom: 10px;
}

.modal-expr {
    font-size: 1.7rem!important;
}

.modal-close {
    margin-right: 10px!important;
}